.carousel-image {
    width: auto;
    max-height: 500px;
    
}

.carousel-container {
    object-fit: contain;
}

.image-item {
    display: flex;
    justify-content: center;
}

.image {
    width: auto;
    max-height: 250px;
}

.gallery-container {
    display: flex;
    justify-content: center;
}