<!-- <div class="gallery-contaienr">
    <div class="carousel-container col-md-12">
    </div>
</div> -->
<div class="carousel-container">
    <p-carousel [value]="images | async" [numVisible]="1" [circular]="true">
        <ng-template let-image pTemplate="item">
            <div class="image-item">
                <!-- <app-carousel-image [imageData]=image></app-carousel-image> -->
                <img class="image" src="{{image.source}}" alt="{{image.title}}">
            </div>
        </ng-template>
    </p-carousel>
</div>