.carousel-image {
    width: auto;
    max-height: 500px;
    
}

.carousel-container {
    display: inherit;
    justify-content: inherit;
}

.gallery-container {
    display: flex;
    justify-content: center;
}