.text-container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.title {
    padding-left: 2.5em;
}

.menu-container {
    position: absolute;
    left: 0;
    padding-top: 1.9em;
    padding-left: 1.7em;
}

.menu-icon {
    display: block;
    cursor: pointer;
}