<div class="container-fluid top-bar-container">
    <div class="row">
        <div class="col-md-1 menu-container" (click)="menuClicked()">
            <mdb-icon class="menu-icon" fas icon="bars" size="lg"></mdb-icon>
        </div>
        <div class="col-md-11 text-container title">
            <h2 class="top-bar-text">Jackson Romie</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-container">
            <h5 class="top-bar-text">Welcome to my Photography Website.</h5>
        </div>
    </div>
</div>