.text-container {
    padding: 1.4em 2.8em 1em 0;
    display: flex;
    text-align: center;
}

.title {
    padding-left: 2.5em;
    white-space: nowrap;
}

.menu-container {
    position: absolute;
    left: 0;
    padding-top: 2em;
    padding-left: 2.4em;
}

.menu-icon {
    display: block;
    cursor: pointer;
}

.row {
    display: flex;
}