.img-container {
    display: inherit;
    background-color: darkgray;
    justify-content: inherit;
}

.image {
    width: auto;
    max-height: 500px;
}

.carousel-image-container {
    display: flex;
    justify-content: center;
}