.img-container {
    justify-content: inherit;
    display: inherit;
    /* flex: 0 0 100px; */
    padding: 1em;
}

.img-wrapper {
    display: inherit;
    justify-content: inherit;
}

.image {
    width: auto;
    height: 400px;
}

.carousel-image-container {
    width: 100%;
    justify-content: center;
    display: flex;
}