.app-container {
    display: flex;
    justify-content: center;
}

.app-container {
    background-color: rgb(202, 200, 200, 0.45);
}

.top-bar-container {
    background-color: rgba(169, 169, 169, 0.85);
    
}

.body {
    height: 100%;
}